<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor domain ip</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- BoxIcons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- Tu archivo CSS personalizado -->
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Impresoras lista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planos">Plano Municipal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/internostel">Teléfono Internos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/domainip">Dominio ip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comprobante">Comprobantes</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="busqueda" placeholder="Buscar ip" data-table="table" aria-label="Buscar ip">
        </form>
        <a id="btnAgregarDomainip" href="#" class="btn btn-primary">Agregar nueva ip</a>
    </div>
</div>
<!-- Tabla de Dominio -->
<div class="container">
    <h4 style="text-align: center;">Datos de los ip del dominio</h4>
        <table data-table="table" id="tablaDomainip" class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th style="display: none;">id</th>
                    <th>IP 10.240.21.#</th>
                    <th>Hostname</th>
                    <th>Nombre de usuario</th>
                    <th>Observacion</th>
                </tr>
            </thead>
            <tbody class="table table-secondary table-hover table-cus">
                <% domainips.forEach((domainip) => { %>
                    
                    <tr>
                        <td style="display: none;"><%= domainip._id %></td>
                        <td><%= domainip.ip_libres %></td>
                        <td><%= domainip.hostname %></td>
                        <td><%= domainip.nombre_usuario %></td>
                        <td><%= domainip.observacion %></td>
                        <td>
                            <a type="button" class="btnEdit btn btn-outline-info mt-4 icon-cus">
                                <i class='bx bxs-edit bx-xs'></i>
                            </a>
                            <a href="/deleteDomainip/<%= domainip._id %>" class="btn btn-outline-danger mt-4 icon-cus" onclick="return confirm('¿Estás seguro de que quieres eliminar este ip?')">
                                <i class='bx bx-trash bx-xs'></i>
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
    </table>
</div>
    <!-- Modal para Editar   -->
<div id="modalDomainip" class="modal fade" tabindex="-1" aria-labelledby="modalDomainip" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="card border-secondary">
                            <div class="card-header">Editar Domain Ip</div>
                            <div class="card-body">
                                <form action="/editDomainip" method="POST">
                                    <input type="text" id="id_edit" name="id_edit" hidden>
                                    <div class="row">
                                        <label for="ip_libres" class="form-label">IP</label>
                                        <div class="mb-3">
                                            <input type="text" name="ip_libres_edit" id="ip_libres_edit" value="" aria-label="Área" class="form-control" placeholder="Número dominio" required>
                                    </div>
                                    <div class="mb-3">
                                            <label for="hostname" class="form-label">Hostname</label>
                                            <input type="text" name="hostname_edit" id="hostname_edit" value="" aria-label="Hostname" class="form-control" placeholder="Hostname" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nombre_usuario" class="form-label">Nombre de usuario</label>
                                        <input type="text" name="nombre_usuario_edit" id="nombre_usuario_edit" value="" aria-label="Nombre de usuario" class="form-control" placeholder="Nombre de usuario" required>
                                    </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="observacion" class="form-label">Observacones</label>
                                        <input type="text" name="observacion_edit" id="observacion_edit" value="" aria-label="Observacion" class="form-control" placeholder="Observacion" required>
                                    </div>
                                </div>
                                </div>
                                    <div class="col-12">
                                        <a href="/domainip" class="btn btn-danger">Cancelar</a>
                                        <button class="btn btn-primary" type="submit">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!-- Modal para agregar Domain ip -->
<div class="modal fade" id="modalAgregarDominioip" tabindex="-1" aria-labelledby="modalAgregarDominioipLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarDominioipLabel">Agregar nuevo Dominio ip</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para agregar nueva Domain ip -->
                    <form action="/createDomainip" id="formAgregarDominioip" method="POST">
                        <div class="mb-3">
                            <label for="ip_libres" class="form-label">Nuevo ip</label>
                            <input type="text" class="form-control" id="ip_libres" name="ip_libres" required>
                        </div>
                        <div class="mb-3">
                            <label for="hostname" class="form-label">Hostname</label>
                            <input type="text" class="form-control" id="hostname" name="hostname" aria-label="Hostname" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombre_usuario" class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" id="nombre_usuario" name="nombre_usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="observacion" class="form-label">Observacion sobre el equipo</label>
                            <input type="text" class="form-control" id="observacion" name="observacion">
                        </div>
                        <a href="/domainip" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        
                    </form>
                </div>
            </div>
        </div>
</div>

<!-- Bootstrap JS (Bundle que incluye Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Tu archivo JS personalizado -->
    <script type="module" src="/resources/js/domainip.js"></script>
    <script type="module" src="/resources/js/busqueda.js"></script>
</body>
</html>