<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telefonos internos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- BoxIcons -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <!-- Tu archivo CSS personalizado -->
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Impresoras lista</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planos">Plano Municipal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/internostel">Teléfono Internos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/domainip">Dominio ip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comprobante">Comprobantes</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" id="busqueda" placeholder="Buscar telefono" data-table="table" aria-label="Buscar telefono">
        </form>
        <a id="btnAgregarTelefono" href="#" class="btn btn-primary">Agregar telefono</a>
    </div>
</div>
<!-- Tabla de Teléfono -->
<div class="container">
    <h4 style="text-align: center;">Datos de las telefono internos</h4>
        <table data-table="table" id="tablaTelefono" class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th style="display: none;">id</th>
                    <th>interno</th>
                    <th>Oficina</th>
                    <th>Referente</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="table table-secondary table-hover table-cus">
                <% telefonos.forEach((telefono) => { %>
                    <tr>
                        <td style="display: none;"><%= telefono._id %></td>
                        <td><%= telefono.n_interno %></td>
                        <td><%= telefono.oficina %></td>
                        <td><%= telefono.referente %></td>
                        <td>
                            <a type="button" class="btnEdit btn btn-outline-info mt-4 icon-cus">
                                <i class='bx bxs-edit bx-xs'></i>
                            </a>
                            <a href="/deleteTelefono/<%= telefono._id %>" class="btn btn-outline-danger mt-4 icon-cus" onclick="return confirm('¿Estás seguro de que quieres eliminar esta telefono?')">
                                <i class='bx bx-trash bx-xs'></i>
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
    </table>
</div>
    <!-- Modal para Editar   -->
    <div id="modalTelefono" class="modal fade" tabindex="-1" aria-labelledby="modalTelefono" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="card border-secondary">
                            <div class="card-header">Editar Telefono</div>
                            <div class="card-body">
                                <form action="/editTelefono" method="POST">
                                    <input type="text" id="id_edit" name="id_edit" hidden>

                                    <!-- Área y número de Telefono -->
                                    <div class="row">
                                        <label for="n_interno" class="form-label">Número Interno</label>
                                        <div class="mb-3">
                                            <input type="text" name="n_interno_edit" id="n_interno_edit" value="" aria-label="Área" class="form-control" placeholder="Número Interno" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="oficina" class="form-label">Oficina</label>
                                            <input type="text" name="oficina_edit" id="oficina_edit" value="" aria-label="Oficina area" class="form-control" placeholder="Tipo de Oficina" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="referente" class="form-label">Oficina</label>
                                            <input type="text" name="referente_edit" id="referente_edit" value="" aria-label="Referente area" class="form-control" placeholder="Referente de Oficina" required>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-12">
                                        <a href="/internostel" class="btn btn-danger">Cancelar</a>
                                        <button class="btn btn-primary" type="submit">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!-- Modal para agregar Telefono -->
<div class="modal fade" id="modalAgregarTelefono" tabindex="-1" aria-labelledby="modalAgregarTelefonoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarTelefonoLabel">Agregar Nueva Telefono</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para agregar nueva Telefono -->
                    <form action="/createTelefono" id="formAgregarTelefono" method="POST">
                        <div class="mb-3">
                            <label for="n_interno" class="form-label">Número interno</label>
                            <input type="text" class="form-control" id="n_interno" name="n_interno" required>
                        </div>
                        <div class="mb-3">
                            <label for="oficina" class="form-label">Oficina</label>
                            <input type="text" class="form-control" id="oficina" name="oficina" aria-label="Tipo de oficina" required>
                        </div>
                        <div class="mb-3">
                            <label for="referente" class="form-label">Referente del Área</label>
                            <input type="text" class="form-control" id="referente" name="referente" required>
                        </div>
                        <a href="internostel" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        
                    </form>
                </div>
            </div>
        </div>
</div>
<a id="back-top" href='#top'>Volver</a>
<!-- Bootstrap JS (Bundle que incluye Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Tu archivo JS personalizado -->
    <script type="module" src="/resources/js/telefonos.js"></script>
    <script type="module" src="/resources/js/busqueda.js"></script>
</body>
</html>
